.main {
  margin: 3%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: black;
  color: white;
}

#notes-section {
  background-color: #111;
  padding: 30px;
  border-radius: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 5%;
  margin-top: 5vh;
  width: 90%;
}

#notes-section .note {
  flex: 1 0 30%; /* limit notes per row*/
  background-color: #222;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 15%;
  height: 30%;
  padding: 15px;
  border-radius: 30px;
  margin: 20px;
  overflow-wrap: break-word;
}
#notes-section .note > div {
  display: block;
}
#notes-section .note button {
  float: right;
  border: none;
  font-size: large;
  font-weight:bolder;
  border-radius: 100%;
  background-color: #FFF;
  margin: 3px;
  right: 0;
}
#notes-section .note button:hover {
  background-color: #999;
}

#notes-section .note .remove-note {
  bottom: 0;
}

#notes-section .note .edit-note {
  top: 0;
}

#add-notes {
  font-size: 900%;
  font-style: bold;
  text-align: center;
  color: gray;
}

#add-notes:hover {
  transform: scale(1.03);
}

.add-notes-menu {
  color: black;
  position: absolute;
  display: block;
  display: grid;
  top: 50%;
  left: 40%;
  max-width: 30%;
  border-radius: 10px;
  float: left;
}

.add-notes-menu > button {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  padding-top: 5%;
  padding-bottom: 5%;
  top: 0;
  right: -30%;
  width: 30%;
  height: 100%;
}

/* todo style texts */